In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
import pandas as pd
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext
sqlContext = SQLContext(sc)
#data source: https://data.nber.org/data/vital-statistics-natality-data.html

In [2]:
#load the dataset
data = pd.read_csv('natl2018us.csv', header = 0)

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (22) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#drop columns with NANs
data = data.dropna(axis=1, how = 'any')

In [33]:
#drop uselsss columns
#data = data.drop(columns = ['dob_yy','dob_mm','dob_tt','dob_wk'])
#data = data.drop(columns = ['bfacil','f_facility'])
#data = data.drop(columns = ['mager14','mager9'])
#data = data.drop(columns = ['mbstate_rec','restatus','mrace31','mrace15','mbrace'])
#data = data.drop(columns = ['mhisp_r','f_mhisp','mracehisp','f_mar_p','meduc','f_meduc'])
#data = data.drop(columns = ['fagerec11','frace31','frace15','fhisp_r'])
#data = data.drop(columns = ['mrace6','frace6','f_fhisp','fracehisp','feduc','priorlive','priordead'])
#data = data.drop(columns = ['priorterm','lbo_rec','tbo_rec','illb_r','illb_r11'])
#data = data.drop(columns = ['ilop_r','ilop_r11','ilp_r','ilp_r11','precare','precare5'])
#data = data.drop(columns = ['previs','previs_rec','f_tpcv','wic','f_wic'])
#data = data.drop(columns = ['cig0_r','cig1_r','cig2_r','cig3_r'])
#data = data.drop(columns = ['f_m_ht','bmi_r'])
#data = data.drop(columns = ['f_cigs_0','f_cigs_1','f_cigs_2','f_cigs_3'])
#data = data.drop(columns = ['f_pwgt','f_dwgt','wtgain_rec','f_wtgain'])
#data = data.drop(columns = ['rf_artec','f_rf_inf_art','rf_cesar','rf_cesarn'])
#data = data.drop(columns = ['f_rf_cesar','f_rf_ncesar','no_risks','ip_gon','ip_syph'])
#data = data.drop(columns = ['ip_chlam','f_ip_gonor','f_ip_syph','f_ip_chlam','f_ip_hepatc'])
#data = data.drop(columns = ['no_infec','ob_ecvs','ob_ecvf','f_ob_succ','f_ob_fail'])
#data = data.drop(columns = ['ld_indl','ld_augm','ld_ster','ld_antb','ld_chor','ld_anes'
                           #,'f_ld_indl','f_ld_augm','f_ld_ster','f_ld_antb','f_ld_chor'
                           #,'f_ld_anes','no_lbrdlv'])
#data = data.drop(columns = ['me_pres','me_rout','me_trial','f_me_rout','f_me_trial'
                           #,'rdmeth_rec','dmeth_rec','f_dmeth_rec','mm_mtr','mm_plac','mm_rupt'
                           #,'mm_uhyst','mm_aicu'])
#data = data.drop(columns = ['f_mm_mtr','f_mm_rupt','f_mm_uhyst','f_mm_aicu','no_mmorb'
                          #,'attend','mtran','pay','pay_rec','f_pay','f_pay_rec','apgar5','apgar5r'
                          #,'apgar10','apgar10r','dplural','setorder_r','dlmp_mm'])
#data = data.drop(columns = ['f_rf_inf_drg','ip_hepatb','ip_hepatc','f_ip_hepatb','f_me_pres','f_mm_','f_apgar5','dlmp_yy','combgest','gestrec10'
                          #,'gestrec3','oegest_comb','oegest_r10','oegest_r3'])
#data = data.drop(columns = ['dbwt','bwtr12','bwtr4','ab_aven1','ab_aven6','ab_nicu','ab_surf'
                           #,'ab_anti','ab_seiz','f_ab_vent','f_ab_nicu','f_ab_surfac','f_ab_antibio'
                           #,'f_ab_seiz','no_abnorm','ca_anen','ca_mnsb','ca_cchd','ca_cdh'
                           #,'ca_omph'])
#data = data.drop(columns = ['f_ab_vent6','ca_gast','f_ca_anen','f_ca_menin','f_ca_heart','f_ca_hernia'
                           #,'f_ca_ompha','f_ca_gastro','ca_limb','ca_cleft','ca_clpal','ca_downs'
                           #,'ca_disor','ca_hypo','f_ca_limb','f_ca_cleftlp'])
#data = data.drop(columns = ['f_ca_cleft','f_ca_downs','f_ca_chrom','f_ca_hypos','no_congen'
                           #,'itran','bfed','f_bfed'])
#data = data.drop(columns = ['cig_rec','f_tobaco'])
data = data.drop(columns = ['rf_pdiab','rf_gdiab','rf_phype','rf_ghype','rf_ehype','rf_ppterm'
                           ,'rf_inftr','rf_fedrg'])

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3801534 entries, 0 to 3801533
Data columns (total 21 columns):
 #   Column       Dtype
---  ------       -----
 0   bfacil3      int64
 1   mager        int64
 2   fagecomb     int64
 3   f_mpcb       int64
 4   cig_0        int64
 5   cig_1        int64
 6   cig_2        int64
 7   cig_3        int64
 8   m_ht_in      int64
 9   bmi          float64
 10  pwgt_r       int64
 11  dwgt_r       int64
 12  wtgain       int64
 13  f_rf_pdiab   int64
 14  f_rf_gdiab   int64
 15  f_rf_phyper  int64
 16  f_rf_ghyper  int64
 17  f_rf_eclamp  int64
 18  f_rf_ppb     int64
 19  sex          object
 20  ilive        object
dtypes: float64(1), int64(18), object(2)
memory usage: 609.1+ MB

In [35]:
#change columns' names
data.columns = ['birth_place','mothers_age','fathers_age','prental_care','cigarettes_before_pregnancy',
               'cigarettes_1_trimester','cigarettes_2_trimester','cigarettes_3_trimester','mothers_height'
               ,'bmi','prepregnancy_weight','delivery_weight','weight_gain','prepregnancy_diabetes','gestational_diabetes'
               ,'prepregnancy_hypertension','gestational_hypertension','hypertension_eclampsia','previous_preterm_birth'
               ,'infant_sex','infant_live']

In [36]:
data.head(3)

,birth_place,mothers_age,fathers_age,prental_care,cigarettes_before_pregnancy,cigarettes_1_trimester,cigarettes_2_trimester,cigarettes_3_trimester,mothers_height,bmi,...,delivery_weight,weight_gain,prepregnancy_diabetes,gestational_diabetes,prepregnancy_hypertension,gestational_hypertension,hypertension_eclampsia,previous_preterm_birth,infant_sex,infant_live
0,1,30,31,1,0,0,0,0,66,30.7,...,231,41,1,1,1,1,1,1,M,Y
1,1,35,35,1,2,2,2,2,63,33.3,...,185,0,1,1,1,1,1,1,F,Y
2,1,28,31,1,0,0,0,0,71,30.0,...,273,58,1,1,1,1,1,1,M,Y

In [37]:
#save as csv file for later spark programming
data.to_csv('nat2018.csv')

In [2]:
#import the csv file via spark way
#create DF
births = spark.read.csv('nat2018.csv', header = True)

In [3]:
#print the data schema
births.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- birth_place: string (nullable = true)
 |-- mothers_age: string (nullable = true)
 |-- fathers_age: string (nullable = true)
 |-- prental_care: string (nullable = true)
 |-- cigarettes_before_pregnancy: string (nullable = true)
 |-- cigarettes_1_trimester: string (nullable = true)
 |-- cigarettes_2_trimester: string (nullable = true)
 |-- cigarettes_3_trimester: string (nullable = true)
 |-- mothers_height: string (nullable = true)
 |-- bmi: string (nullable = true)
 |-- prepregnancy_weight: string (nullable = true)
 |-- delivery_weight: string (nullable = true)
 |-- weight_gain: string (nullable = true)
 |-- prepregnancy_diabetes: string (nullable = true)
 |-- gestational_diabetes: string (nullable = true)
 |-- prepregnancy_hypertension: string (nullable = true)
 |-- gestational_hypertension: string (nullable = true)
 |-- hypertension_eclampsia: string (nullable = true)
 |-- previous_preterm_birth: string (nullable = true)
 |-- infant_sex: string (nullable = true)
 |-- infant_live: string (nullable = true)

In [4]:
#cast the data type into right format
from pyspark.sql.functions import col
import pyspark.sql.types as typ
births = births.withColumn("birth_place", col("birth_place").cast(typ.IntegerType()))
births = births.withColumn("mothers_age", col("mothers_age").cast(typ.IntegerType()))
births = births.withColumn("fathers_age", col("fathers_age").cast(typ.IntegerType()))
births = births.withColumn("prental_care", col("prental_care").cast(typ.IntegerType()))
births = births.withColumn("cigarettes_before_pregnancy", col("cigarettes_before_pregnancy").cast(typ.IntegerType()))
births = births.withColumn("cigarettes_1_trimester", col("cigarettes_1_trimester").cast(typ.IntegerType()))
births = births.withColumn("cigarettes_2_trimester", col("cigarettes_2_trimester").cast(typ.IntegerType()))
births = births.withColumn("cigarettes_3_trimester", col("cigarettes_3_trimester").cast(typ.IntegerType()))
births = births.withColumn("mothers_height", col("mothers_height").cast(typ.IntegerType()))
births = births.withColumn("bmi", col("bmi").cast(typ.FloatType()))
births = births.withColumn("prepregnancy_weight", col("prepregnancy_weight").cast(typ.IntegerType()))
births = births.withColumn("delivery_weight", col("delivery_weight").cast(typ.IntegerType()))
births = births.withColumn("weight_gain", col("weight_gain").cast(typ.IntegerType()))
births = births.withColumn("prepregnancy_diabetes", col("prepregnancy_diabetes").cast(typ.IntegerType()))
births = births.withColumn("gestational_diabetes", col("gestational_diabetes").cast(typ.IntegerType()))
births = births.withColumn("prepregnancy_hypertension", col("prepregnancy_hypertension").cast(typ.IntegerType()))
births = births.withColumn("gestational_hypertension", col("gestational_hypertension").cast(typ.IntegerType()))
births = births.withColumn("hypertension_eclampsia", col("hypertension_eclampsia").cast(typ.IntegerType()))
births = births.withColumn("previous_preterm_birth", col("previous_preterm_birth").cast(typ.IntegerType()))

In [5]:
#Basical dataset statistical check
#step1: if the dataset contains duplicate rows:
print('Count of rows: {0}'.format(births.count()))
print('Count of distinct rows: {0}'.format(births.distinct().count()))
#the results show our dataset contains no same rows

Count of rows: 3801534
Count of distinct rows: 3801534

In [6]:
#step2: check if the dataset contains missing values:
bool(births.head(1)) #if the result is False，then the dataset has missing values，otherwise no.

True

In [7]:
#step3: count the frequency distribution of living cases
births.groupby('infant_live').count().show()

+-----------+-------+
|infant_live|  count|
+-----------+-------+
|          Y|3784682|
|          U|   7169|
|          N|   9683|
+-----------+-------+

In [8]:
#the above step3 shows the dataset has 7169 unknown cases, so we need drop this record
births = births.filter((births.infant_live != 'U'))

In [22]:
#step4: count the frequency distribution of infant cases after filtered
births.groupby('infant_live').count().show()

+-----------+-------+
|infant_live|  count|
+-----------+-------+
|          Y|3784682|
|          N|   9683|
+-----------+-------+

In [10]:
#step5: For numerical data, apply the describe() to get statistical summay.
numerical = ['mothers_age', 'fathers_age', 'cigarettes_before_pregnancy','cigarettes_1_trimester'
            ,'cigarettes_2_trimester','cigarettes_3_trimester','mothers_height','bmi'
            ,'prepregnancy_weight','delivery_weight','weight_gain']
desc = births.describe(numerical)
desc.toPandas()

,summary,mothers_age,fathers_age,cigarettes_before_pregnancy,cigarettes_1_trimester,cigarettes_2_trimester,cigarettes_3_trimester,mothers_height,bmi,prepregnancy_weight,delivery_weight,weight_gain
0,count,3794365,3794365,3794365,3794365,3794365,3794365,3794365,3794365,3794365,3794365,3794365
1,mean,29.009387868589343,39.596097370706296,1.550107330212038,1.131522402299199,0.9697783423576805,1.4143220275329338,64.30463990680917,28.81027118227087,175.93506080727605,200.18134233264328,31.609981116734946
2,stddev,5.8052783803689225,22.449944281961567,8.107888249657071,7.4407016553343075,7.237194118143928,10.021374916879383,3.777563012203098,12.7073557865079,124.84124014671852,105.63995117218232,19.13838051911505
3,min,12,11,0,0,0,0,30,13.0,75,100,0
4,max,50,99,99,99,99,99,99,99.9,999,999,99

In [31]:
#step6: check the correlation between all numerical data
n_numerical = len(numerical)
corr = []
for i in range(0,n_numerical):
    temp = [None]*i
    for j in range(i,n_numerical):
        temp.append(births.corr(numerical[i],numerical[j]))
    corr.append(temp)
corr

[[1.0,
  0.026867246720667114,
  -0.04417992270957312,
  -0.027785702478010477,
  -0.020874433886303605,
  -0.015439840190846937,
  0.06984624464718699,
  0.019893629006471843,
  0.02315205532607874,
  0.02509510070705091,
  -0.020254161162885757],
 [None,
  1.0,
  0.08907527985462328,
  0.08236731472799186,
  0.07510008527603075,
  0.06744469667060603,
  0.013603469052553383,
  0.055724656107883914,
  0.05100400944723147,
  0.03723856761259853,
  0.008720069707881587],
 [None,
  None,
  1.0,
  0.9102633965940079,
  0.8810204181988819,
  0.6167428703133212,
  0.056719771149169235,
  0.06066620559482313,
  0.06612991956863559,
  0.05112289180866922,
  0.04837510428012419],
 [None,
  None,
  None,
  1.0,
  0.9696488665127416,
  0.6802873337636367,
  0.05927348187874697,
  0.06814082782801818,
  0.07470610781339798,
  0.0522709817086846,
  0.042943141637688774],
 [None,
  None,
  None,
  None,
  1.0,
  0.7006172971245385,
  0.060148403248700875,
  0.07070389363475092,
  0.07749810866415571,
  0.05287996954817048,
  0.04100762251589883],
 [None,
  None,
  None,
  None,
  None,
  1.0,
  0.04426944833509124,
  0.07125380769506343,
  0.07478952016407751,
  0.047949913728494886,
  0.007689137226570086],
 [None,
  None,
  None,
  None,
  None,
  None,
  1.0,
  0.25403696591797,
  0.23787425633078363,
  0.27062386941054417,
  0.16752483118691888],
 [None,
  None,
  None,
  None,
  None,
  None,
  None,
  1.0,
  0.9180003518094493,
  0.4656972666421816,
  0.3122906537192574],
 [None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  1.0,
  0.4526628003257061,
  0.42912007266842944],
 [None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  1.0,
  0.4485047458796758],
 [None, None, None, None, None, None, None, None, None, None, 1.0]]

In [16]:
#because our target is categorical variable, so we want to create
#a dummy variable of it for model use.
import pyspark.sql.functions as fn
categ = births.select('infant_live').distinct().rdd.flatMap(lambda x:x).collect()
exprs = [fn.when(fn.col('infant_live') == Y,1).otherwise(0)\
            .alias(str(Y)) for Y in categ]
births = births.select(exprs+births.columns)

In [23]:
#drop useless columns and rename target column
births = births.drop('N')
births = births.drop('_c0')
births = births.withColumnRenamed('Y','infant_live_encoded')

In [24]:
#make a copy of the original data frame
births_v1 = births

In [26]:
#Baseline model: logistic model
import pyspark.ml.feature as ft
from pyspark.ml import Pipeline
feature_pipe = ft.VectorAssembler(inputCols=['birth_place', 'mothers_age', 'fathers_age', 'prental_care', 'cigarettes_before_pregnancy', 'cigarettes_1_trimester'
                                    ,'cigarettes_2_trimester','cigarettes_3_trimester','mothers_height'
                                    ,'bmi','prepregnancy_weight','delivery_weight','weight_gain','prepregnancy_diabetes'
                                    ,'gestational_diabetes','prepregnancy_hypertension','gestational_hypertension'
                                ,'hypertension_eclampsia','previous_preterm_birth'], outputCol = 'features')

In [27]:
import pyspark.ml.classification as cl
logistic = cl.LogisticRegression(
                    maxIter = 10,
                    regParam = 0.01,
                    labelCol ='infant_live_encoded')

In [28]:
pipeline = Pipeline(stages = [feature_pipe, logistic])

In [29]:
#build training and testing sets
births_train, births_test = births_v1.randomSplit([0.75,0.25],seed = 666)

model = pipeline.fit(births_train)
test_model = model.transform(births_test)

test_model.take(1)

[Row(infant_live_encoded=0, birth_place=1, mothers_age=17, fathers_age=99, prental_care=1, cigarettes_before_pregnancy=0, cigarettes_1_trimester=0, cigarettes_2_trimester=0, cigarettes_3_trimester=99, mothers_height=60, bmi=26.399999618530273, prepregnancy_weight=135, delivery_weight=139, weight_gain=4, prepregnancy_diabetes=1, gestational_diabetes=1, prepregnancy_hypertension=1, gestational_hypertension=1, hypertension_eclampsia=1, previous_preterm_birth=1, infant_sex='M', infant_live='N', features=DenseVector([1.0, 17.0, 99.0, 1.0, 0.0, 0.0, 0.0, 99.0, 60.0, 26.4, 135.0, 139.0, 4.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]), rawPrediction=DenseVector([-1.2021, 1.2021]), probability=DenseVector([0.2311, 0.7689]), prediction=1.0)]

In [30]:
#Evaluate the model performance
import pyspark.ml.evaluation as ev
#Binary Classification evaluation
evaluator = ev.BinaryClassificationEvaluator(
                rawPredictionCol = 'probability',
                labelCol = 'infant_live_encoded')
#rawPredictionCol can be either rawPredictionCol or probability
print(evaluator.evaluate(test_model, {evaluator.metricName: 'areaUnderROC'}))
print(evaluator.evaluate(test_model, {evaluator.metricName: 'areaUnderPR'}))

0.8753732142726073
0.9993860728857613